<footer id="footer">

  <h1 class="title_white">Contact</h1>

  <ul id="contact_icons">
    <li>
      <a href="https://linkedin.com/in/RobbeSneyders">
        <img src="assets/images/icon_linkedin.svg" alt="linkedin icon"/>
      </a>
    </li>
    <li>
      <a href="https://github.com/RobbeSneyders">
        <img src="assets/images/icon_github.svg" alt="github icon"/>
      </a>
    </li>
    <li>
      <a href="mailto:robbe.sneyders@gmail.com">
        <img src="assets/images/icon_mail.svg" alt="mail icon"/>
      </a>
    </li>
  </ul>
</footer>