#abilities {
	background: $GreyBackground;
}

.skill {
	display: inline-block;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 1em;
	margin-right: 1em;
}

#skills {
	text-align: center;
}

#language {
	text-align: center;
}

#language_level {
	font-style: italic;
}