$Primary: #3F51B5;
$PrimaryDark: #303F9F;
$GreyBackground: #F2F2F2;

@media (min-width: 1200px) {
    .container{
        max-width: 900px;
    }
}

@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../fonts/Raleway-SemiBold.ttf);
}

@import "home";
@import "footer";